APP_NAME=Twinsure
APP_ENV=local
APP_DEBUG=true
APP_URL=
FRONTEND_BASE_PATH=/frontend/html
BACKEND_BASE_PATH=/backend/public
API_BASE_PATH=/backend/public/api
MONGODB_URI=
MONGODB_DATABASE=twinsdb
MONGODB_HOST=
MONGODB_PORT=
MONGODB_USERNAME=
MONGODB_PASSWORD=
SESSION_SECRET=
JWT_SECRET=
ADMIN_EMAIL=
ADMIN_PASSWORD=
